:root {
  --background-geral: #0f172a;
  --cards: #1e293b;
  --texto-principal: #f1f5f9;
  --texto-secundario: #94a3b8;
  --cor-destaque: #3b82f6;
  --hover-botao: #2563eb;
  /* Plano Pro */
  --fundo: #2563eb;
  --texto: #fff;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

body{
  background: var(--background-geral);
}

.principal{
  max-width: 100rem;
  margin: 0 auto;
}

.principal h1{
  text-align: center;
  color: var(--texto-principal);
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.produto{
  font-size: 2rem;
  background: var(--cards);
  border-radius: 4px;
  padding: 1rem 2rem;
  margin-top: 4rem;
  width: 18rem;
}

.produto p{
  color: var(--texto-secundario);
}

.btn-comprar{
  cursor: pointer;
  border-radius: 4px;
  padding: 0.5rem 1rem;
}

.btn-comprar:hover{
  background: var(--hover-botao);
  color: var(--texto);
}

@media(max-width: 850px){
  .container{
    display: flex;
    flex-direction: column;
  }
}