body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 50px;
}

h1 {
  text-align: center;
}

h2{
  margin: 0px;
}
.card {
  display: block;
  background: #111;
  border-radius: 4px;
  margin: 20px 40px 0px 40px;
  padding: 20px 40px;
}

.card h2 {
  color: white;
}

.card p {
  color: #b2b2b2;
}

.amarelo {
  color: #febe01;
}

.card a {
  display: inline-block;
  background: #febe01;
  color: #332200;
  padding: 20px 20px;
  border-radius: 4px;
  text-decoration: none;
}
